*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px/16px = 62.5%
  @include responsive(big-desktop)
  {
    font-size: 75%; // 1rem = 12, 12/16 = 75%
  }

  @include responsive(tab-land) {
    font-size: 56.25%; //1rem = 9x, 9/15 = 56.25%
  }

  @include responsive(tab-port) {
    font-size: 50%; //1rem = 8x, 8/15 = 50%
  }

}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include responsive(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}